@media screen and (max-width: 280px) {
	.header__content > h1 {
		margin-top: 1.2em;
		font-size: 1.5em;
	}

	.header__content > h2 {
		font-size: 0.7em;
	}

	.feature_work__title {
		font-size: 1.2em;
		margin-top: 0.3em;
		margin-left: 0.2em;
	}

	.feature_work__box__name__title {
		font-size: 0.8em;
	}

	.feature_work__box__name > p {
		font-size: 0.7em;
	}
}

@media screen and (min-width: 550px) {
	.feature_work__box {
		float: left;
		margin-right: 7px;
		width: calc((100% - 14px)/3);
	}
	.feature_work__box:last-of-type {
		margin-right: 0px;
	}
	.feature_work__box__thumbnail {
		width: 100%;
	}
	.feature_work__box__name {
		width: 100%;
		text-align: center;
		padding-left: 0;
	}
	.feature_work__box__name > h3 {
		font-size: 1.5em;
		margin-top: 0.2em;
		margin-bottom: 0.2em;
	}
	.feature_work__box__name > p {
		font-size: 0.7em;
		margin-top: 0;
		margin-bottom: 0.2em;
	}
}

@media screen and (min-width: 800px) {
	body {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}